<ion-content>

    <div class="vertical-center ion-text-center">

        <h2>Afficher en :</h2>
        <br>


        <ion-button (click)="changeDisplayedFormat(0)" color="danger">Secondes</ion-button>
        <br>
        <br>
        <ion-button (click)="changeDisplayedFormat(1)" color="danger">Minutes</ion-button>
        <br>
        <br>
        <ion-button (click)="changeDisplayedFormat(2)" color="danger">Heures</ion-button>
        <br>
        <br>
        <ion-button (click)="changeDisplayedFormat(3)" color="danger">Jours</ion-button>
        <br>
        <br>
        <ion-button (click)="changeDisplayedFormat(4)" color="danger">Semaines</ion-button>
        <br>
        <br>

    </div>

</ion-content>